site_name: TableGPT Agent

theme:
  name: "material"
  features:
    - navigation.footer

plugins:
  - mkdocstrings

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

nav:
  - Home: index.md
  - Tutorials:
    - 'Quick Start': tutorials/quickstart.md
    - 'Chat on tablular data': tutorials/chat-on-tabular-data.md
    - 'Continue Analysis on Generated Charts': tutorials/continue-analysis-on-generated-charts.md
  - 'How-To Guides':
    - 'Enhance TableGPT Agent with RAG': howto/retrieval.md
    - 'Persist Messages': howto/persist-messages.md
    - 'Incluster Code Execution': howto/incluster-code-execution.md
    - 'Normalize Datasets': howto/normalize-datasets.md
  - Reference: reference.md
  - Explanation:
    - 'Agent Workflow': explanation/agent-workflow.md
    - 'File Reading': explanation/file-reading.md

repo_name: tablegpt/tablegpt-agent
repo_url: https://github.com/tablegpt/tablegpt-agent
